@charset "UTF-8";
@media screen and (min-width:768px) {
    
#img{
    margin-left: 30px;
}
/*Coluna 1*/
    #col1 .news{
        padding: 20px 0px 0 0;
        width: 60vw;
    }
    article{
        align-items: center;
        display: inline-block;
        padding: 0px;
        position: relative;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 20px;
        margin-inline-end: 30px;
    }
    figure{
        margin-right: 20px;
        width:164px ;
        float: left;
    }
    .imgCard{
        margin-right: 20px;       
        border-radius: 8px;
        display: block;
        object-fit: cover;
        position: relative;
        overflow: hidden;
        width: 164px;
        height: 118px;
    }
    .infoCard{
        float: right;
    }
    .cardBox h3{
        color: rgb(54, 54, 54);
        font-size: 25px;
        width: auto;
    }
    #col1 .cardBox {
    padding-left: 0px;
    display: inline-flex;
    height: auto;
    }
.subtitleCard{
    display: none;
}
.tipoCard{
    display: none;
}
#col1{
    width: 60%;
    
    margin-right: 10vw;
}
/*Coluna 2*/
#col2{
    transform: translateX(-10px);
    margin-top: 50px;
    display: block;
    width: 30%;
}

.contentPrincipal{display: flex;}
#col2 .cardBox {
    position: relative;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0px;
    margin-right: 0px;
    display: inline-flex;
    width: 100%;
    height: 100%;
}
#col2 .cardBox:hover{
    color: yellowgreen;
    padding: 5px;
    transition: 0.3s;
    background-color: rgb(255, 251, 251);
    }
.ttC2{
    background-color: yellowgreen;
    font-size: 0.3vh;
    color: blue;
}
#col2 .news{
    padding: 0px;
    margin: 0px;
}
#col2 figure{
    margin:0;
    position: relative;
    display: block;
    width:12vw ;
    float: left;
}
#col2 .imgCard{
   padding: 2px;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 12vw;
    height: auto;
}
#col2 .cardBox h3{
    color: rgb(54, 54, 54);
    font-size: 1.8vw;
    width: auto;
}
#col2 .timeCard{
    font-size: small;
}
#col2 .infoCard{
    padding: 10px 0px;
    display: block;
    float: right;
}
.subtitleCard{
display: none;
}
.tipoCard{
display: none;}

#burguer{
    display: none;
}
menu{
    display: inline-flex;
    position: relative;
    

}
#menu{
    display: block;
    float:left ;
    margin: auto;
    margin-left: 5px;
}
ul{
    display: inline-flex;
    list-style: none;
}
#itens{
    display: flex;
}
#btn{
    margin: 10vw auto;
}



/*Footer*/


#algo{
    border: none;
    display: inline-flex;
    columns: 2;
}
#sobreNos,  #mapa{
    border: none;
    display: block;
    height: auto;
 
}
#mapa{
    margin: auto;
    width: 45%;
}
#sobreNos p{
    font-size: 1.045em;
    margin-left: 20px;
    width: 70%;
}
#mapa ul{
    width: 10vw;
    display: block;
}
}
